*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Realization/.vscode/launch.json
Realization/frontend/.vscode/launch.json
Realization/backend/app/nbactions-dev.xml
Realization/backend/acc/nbactions-dev.xml
Realization/backend/core/core-impl/nbactions.xml
Realization/backend/core/nbactions.xml
