.rdtPicker {
	display: none;
	position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 35px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}

.rdtPicker .form-control{
	padding-right: 0px !important;
}
