@import '../../variables.less';

.fa-layers {

  .fa-icon-letter {
    left: 40%;
    font-size: 0.85em;
    font-weight: 900;
    margin-top: -1px;
  }

}

.tab-panel-sidebar {
  .fa-layers {
    .fa-icon-letter {
      margin-top: 1px;
    }

  }
}
