<?xml version="1.0" encoding="UTF-8"?>
<!-- https://springframework.guru/using-logback-spring-boot/ -->
<!-- http://logback.qos.ch/manual/appenders.html -->
<!DOCTYPE configuration>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
    <logger name="eu.bcvsolutions.idm.tool" level="INFO"/>
    <logger name="org.eclipse.jgit" level="INFO"/>
</configuration>