.identity-detail {

  .image-field-container {
    display: flex;

    .image-col {
      flex: 0 0 200px;
      padding-right: 15px;

      .image-wrapper {
        position: relative;

        .btn-edit {
          position: absolute;
          left: 5px;
          bottom: 5px;
        }

        .btn-remove {
          position: absolute;
          right: 5px;
          bottom: 5px;
        }

        .img-thumbnail {
          padding: 0;
        }
      }
    }

    .field-col {
      flex: 1;
    }
  }

}
