<?xml version="1.0" encoding="UTF-8"?>
<!-- https://springframework.guru/using-logback-spring-boot/ -->
<!-- http://logback.qos.ch/manual/appenders.html -->
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<springProperty name="spring.profiles.active" source="spring.profiles.active"/>
	
	<springProfile name="default">
        <logger name="eu.bcvsolutions" level="INFO"/>
		<logger name="org.springframework" level="INFO"/>
		<logger name="org.springframework.web" level="INFO"/>
		<logger name="org.hibernate.SQL" level="INFO"/>
		<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO"/>
    </springProfile>
    
    <springProfile name="test">
        <logger name="eu.bcvsolutions" level="DEBUG"/>
		<logger name="org.springframework" level="INFO"/>
		<logger name="org.springframework.web" level="INFO"/>
		<logger name="org.hibernate.SQL" level="INFO"/>
		<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO"/>
    </springProfile>
    
    <springProfile name="dev">  
    	<springProperty name="spring.datasource.driver-class-name" source="spring.datasource.driver-class-name"/>
		<springProperty name="spring.datasource.url" source="spring.datasource.url"/>
		<springProperty name="spring.datasource.username" source="spring.datasource.username"/>
		<springProperty name="spring.datasource.password" source="spring.datasource.password"/>
	  
    	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
		        <driverClass>${spring.datasource.driver-class-name}</driverClass>
		        <url>${spring.datasource.url}</url>
		        <user>${spring.datasource.username}</user>
		        <password>${spring.datasource.password}</password>
		    </connectionSource>
		</appender>
		
		<appender name="DB_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
	        <appender-ref ref="DB" />
	        <includeCallerData>true</includeCallerData>
	    </appender>
	
		<logger name="eu.bcvsolutions" level="TRACE">
			<appender-ref ref="DB_ASYNC" />
		</logger>
		<logger name="org.springframework" level="INFO"/>
		<logger name="org.springframework.web" level="DEBUG"/>
		<logger name="org.hibernate.SQL" level="DEBUG"/>
		<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>        
    </springProfile>
</configuration>