@import '../../variables.less';

.advanced-table {

  .advanced-table-heading {
    min-height: 25px;
    _height: 25px;
  }

  .bulk-action {

    width: 275px;

    .Select-input {
      height: 19px;
      vertical-align: top;
      font-size: 0.9em;
      line-height: 14px;
    }

    .Select-control {
      height: 20px;
    }

    .Select-value, .Select-placeholder {
      line-height: 20px;
    }
  }

  td .column-face-bool {
    text-align: center;
  }
}
