@import '../../variables.less';

.advanced-table {

  .advanced-table-heading {
    min-height: 25px;
    _height: 25px;
  }

  .bulk-action {

    width: 275px;

    .Select-input {
      height: 19px;
      vertical-align: top;
      font-size: 0.9em;
      line-height: 14px;
    }

    .Select-control {
      height: 20px;
      border-color: @idm-border-color;
    }

    .Select-value, .Select-placeholder {
      line-height: 20px;
      color: @idm-text-color;
    }
  }

  /* extends border to parent border */
  &.marginable {
    margin-left: -15px;
    margin-right: -15px;
  }

  /* embedded table */
  &.no-margin {

    > .basic-toolbar {
      padding-left: 0;
      padding-right: 0;
    }

    > div > .basic-table > .alert {
      margin-left: 0;
      margin-right: 0;
    }

    tr {

      td:first-child {
        padding-left: 3px;
      }

      td:last-child {
        padding-right: 3px;
      }
    }
  }

  td .column-face-bool,
  td .column-face-boolean {
    text-align: center;
  }
}
