<?xml version="1.0" encoding="UTF-8"?>
<!-- https://springframework.guru/using-logback-spring-boot/ -->
<!-- http://logback.qos.ch/manual/appenders.html -->
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<logger name="eu.bcvsolutions" level="WARN"/>
	<logger name="org.springframework" level="WARN"/>
	<logger name="org.springframework.web" level="WARN"/>
	<logger name="org.hibernate.SQL" level="WARN"/>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN"/>
    
</configuration>