// groups
.main-group {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.week-group {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.month-group {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
// boxes
.interval-select {
  margin-bottom: 0;
  margin-right: 10px;
  width: 90px;
}
.cron-text {
  margin-right: 10px;
}
.num-select {
  margin-bottom: 0;
  margin-right: 10px;
  width: 56px;
}
.weekday-select {
  margin-bottom: 0;
  margin-right: 10px;
  width: 70px;
}
.time-select {
  width: 70px;
  margin-right: 10px;
}
