{
  "extends": ["airbnb", "airbnb/hooks"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "impliedStrict": true,
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "@babel"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "$": false,
    "DEBUG": false,
    "LOGGER": false,
    "serverUrl": true
  },
  "rules": {
    "arrow-parens": ["off", "as-needed"],
    "arrow-body-style": ["off", "as-needed"],
    "array-callback-return": "warn",
    "array-bracket-spacing": "off",
    "arrow-spacing": "warn",
    "block-spacing": "warn",
    "constructor-super": 2,
    "consistent-return": "warn",
    "comma-style": "warn",
    "comma-dangle": 0,
    "class-methods-use-this": "off",
    "eqeqeq": [2, "allow-null"],
    "function-paren-newline": "warn",
    "global-require": "off",
    "guard-for-in": 1,
    "id-length": 0,
    "indent": ["warn", 2, { "SwitchCase": 1, "flatTernaryExpressions": true, "ignoredNodes": ["ConditionalExpression"] }],
    "implicit-arrow-linebreak": "warn",
    "import/order": "warn",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "import/no-unresolved": "off",
    "import/named": "off",
    "import/no-useless-path-segments": "warn",
    "import/no-cycle": "warn",
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "warn",
    "import/no-named-as-default-member": "warn",
    "import/no-dynamic-require": "off",
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/label-has-associated-control": "warn",
    "jsx-a11y/label-has-for": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "jsx-a11y/interactive-supports-focus": "warn",
    "jsx-a11y/role-has-required-aria-props": "warn",
    "keyword-spacing": "warn",
    "linebreak-style": 0,
    "lines-between-class-members": "warn",
    "max-len": ["warn", { "code": 150, "comments": 300 }],
    "no-param-reassign": 0,
    "no-this-before-super": 2,
    "no-nested-ternary": 1,
    "no-self-compare": 1,
    "no-useless-return": "warn",
    "no-useless-constructor": "warn",
    "no-lonely-if": "warn",
    "no-continue": "off",
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }],
    "no-multi-spaces": "warn",
    "no-array-constructor": "warn",
    "no-eq-null": 0,
    "no-unused-vars": ["warn", {"vars": "local", "args": "after-used"}],
    "no-unneeded-ternary": "warn",
    "no-restricted-syntax": "off",
    "no-prototype-builtins": "off",
    "no-shadow": 1,
    "no-tabs": "warn",
    "no-unused-expressions": 1,
    "no-underscore-dangle": "off",
    "no-restricted-properties": "warn",
    "no-restricted-globals": "warn",
    "no-else-return": "warn",
    "no-useless-escape": "warn",
    "no-empty-function": "warn",
    "no-extra-boolean-cast": "warn",
    "no-void": "warn",
    "no-mixed-operators": "warn",
    "no-whitespace-before-property": "warn",
    "no-confusing-arrow": "warn",
    "no-dupe-class-members": "warn",
    "no-useless-concat": "warn",
    "newline-per-chained-call": "warn",
    "one-var": [2, { "initialized": "never" }],
    "operator-assignment": "warn",
    "object-shorthand": "warn",
    "object-property-newline": "warn",
    "object-curly-newline": "off",
    "object-curly-spacing": "off",
    "operator-linebreak": ["warn", "after", { "overrides": { "?": "ignore", ":": "ignore", "||": "ignore", "&&": "ignore" } }],
    "prefer-const": 1,
    "padded-blocks": 0,
    "prefer-destructuring": "off",
    "prefer-template": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-promise-reject-errors": "warn",
    "quotes": [2, "single", { "allowTemplateLiterals": true } ],
    "quote-props": [1, "as-needed"],
    "react/jsx-boolean-value": 1,
    "react/jsx-indent": 0,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/jsx-tag-spacing": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-curly-spacing": ["off", { "when": "always", "spacing": {
      "objectLiterals": "never"
    }}],
    "react/jsx-closing-bracket-location": "off",
    "react/no-danger": "off",
    "react/jsx-no-bind": "off",
    "react/no-multi-comp": "warn",
    "react/no-string-refs": "off",
    "react/sort-comp": 0,
    "react/self-closing-comp": "warn",
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-unescaped-entities": "warn",
    "react/forbid-prop-types": ["warn", { "forbid": ["any", "array"] }],
    "react/no-deprecated": "warn",
    "react/no-children-prop": "warn",
    "react/jsx-closing-tag-location": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "react/jsx-max-props-per-line": "warn",
    "react/jsx-first-prop-new-line": "warn",
    "react/jsx-equals-spacing": "warn",
    "react/prop-types": ["warn", { "ignore": [
      "children",
      "className",
      "style",
      "bsStyle",
      "bsClass",
      "bsSize"
    ]}],
    "react/no-render-return-value": "warn",
    "react/no-access-state-in-setstate": "warn",
    "react/jsx-indent-props": "warn",
    "react/no-find-dom-node": "warn",
    "react/no-unused-prop-types": "warn",
    "react/button-has-type": "warn",
    "rest-spread-spacing": "warn",
    "space-unary-ops": "warn",
    "space-in-parens": "warn",
    "spaced-comment": ["error", "always", {
      "line": {
        "markers": ["/"],
        "exceptions": ["-", "+"]
      },
      "block": {
          "markers": ["!"],
          "exceptions": ["*"],
          "balanced": false
      }
    }],
    "switch-colon-spacing": "warn",
    "template-curly-spacing": ["off", "always"]
  }
}
